Repository cgerard321/sqta-project-1, pull requests merged in 2019-11, with the labels that each got.

#1 [SQTA-TEST] [TEAM A] Minor readme updates
  README.md
Labels: Team A

#2 [SQTA-TEST2] [TEAM A] Added some useful git commands
  README.md
Labels: Team A

#6 Updated readme with info
  README.md
Labels: Config

#9 [stqa-15][TEAM A] As a user, I want to be able to view the Details of an owner
  Team-A/pom.xml
  Team-A/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTest.java
Labels: Team A

#10 [stqa-5][TEAM A] As a user I want to make sure the "Find Owner" Navigation leads to the Find Owner page
  Team-A/pom.xml
  Team-A/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTest.java
Labels: Team A

#16 [Team B] As a user, I want to be able to search for owners
  Team-B/pom.xml
  Team-B/src/main/java/org/springframework/samples/petclinic/PetClinicApplicationTest.java
  Team-B/src/main/java/util/Utils.java
  Team-B/src/main/resources/application.properties
Labels: Team B

#7 [SQTA-4] [TEAM B] Find Owners Page
  Team-B/pom.xml
  Team-B/src/main/java/org/springframework/samples/petclinic/OwnerTest.java
Labels: Team B

#21 [SQTA-28] [TEAM C] Test case - getType method from pet class
  Team-C/src/main/java/org/springframework/samples/petclinic/owner/Pet.java
  Team-C/src/test/java/org/springframework/samples/petclinic/owner/PetTest.java
Labels: Team C

#12 [STQA-9] [Team B] as a user, I want to be able to add an owner.
  Team-B/pom.xml
  Team-B/src/main/java/org/springframework/samples/petclinic/owner/PetTypeFormatter.java
  Team-B/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTest.java
Labels: Team B

#11 [SQTA-22] [TEAM C] Completed test method for when there is an error in the method to update the pet.
  Team-C/pom.xml
  Team-C/src/main/java/org/springframework/samples/petclinic/owner/PetControllerTest.java
Labels: Team C

#8 [STQA-26][TEAM C] processFunction() returns correct path on valid input
  Team-C/.gradle/5.2.1/executionHistory/executionHistory.bin
  Team-C/.gradle/5.2.1/executionHistory/executionHistory.lock
  Team-C/.gradle/5.2.1/fileChanges/last-build.bin
  Team-C/.gradle/5.2.1/fileHashes/fileHashes.lock
  Team-C/.gradle/5.2.1/gc.properties
  Team-C/.gradle/buildOutputCleanup/buildOutputCleanup.lock
  Team-C/.gradle/buildOutputCleanup/cache.properties
  Team-C/pom.xml
  Team-C/src/main/java/org/springframework/samples/petclinic/owner/Owner.java
  Team-C/src/main/java/org/springframework/samples/petclinic/owner/PetControllerTest.java
Labels: Team C

#23 [SQTA-12] [TEAM B] As a user, I want to be able to view veterinarians.
  Team-B/pom.xml
  Team-B/src/main/java/org/springframework/samples/petclinic/VetTest.java
Labels: Team B

#18 [STQA-17] [TEAM A] As a user, I want to make sure the "Edit Owner" edits an owner
  Team-A/src/test/java/org/springframework/samples/petclinic/owner/UpdateOwnerSeleniumTest.java
Labels: Team A

#19 [TEAM D] [SQTA-20] As a user, I can view the list of owners.
  Team-D/pom.xml
  Team-D/src/test/java/OwnerSeleniumTests.java
Labels: Team D

#33 [STQA-16][TEAM A] As a developer, I want to make sure the edit owner method fetches the right details
  Team-A/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTest_UnitTest.java
Labels: Team A

#39 [STQA-33][TEAM A]As a user, I want to be able to view the list of veterinarians
  Team-A/pom.xml
  Team-A/src/test/java/org/springframework/samples/petclinic/vet/VetControllerTest_Selenium.java
Labels: Team A

#41 [MERGE-1] [TEAM X] First comment added to simulate a merge conflict.
  Team-A/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTest.java
Labels: Team X

#42 [SQTA-37] Test case for editing an owner
  Team-D/src/test/java/org/springframework/samples/petclinic/PetClinicApplicationTest2.java
  Team-D/src/test/java/org/springframework/samples/petclinic/owner/OwnerTest2.java
Labels: Team D

#56 [TEAM-D][SQTA-6] Added test case to verify add a visit functionality
  Team-D/src/test/java/org/springframework/samples/petclinic/PetClinicApplicationTest.java
  Team-D/src/test/java/org/springframework/samples/petclinic/owner/FredTest.java
  Team-D/src/test/java/org/springframework/samples/petclinic/owner/OwnerTest.java
  Team-D/src/test/java/org/springframework/samples/petclinic/owner/OwnerTest2.java
  Team-D/src/test/java/org/springframework/samples/petclinic/sqta8Test.java
Labels: Team D

#55 [TEAM B][STQA-53] As a user, I want to be able to update pet values
  Team-B/src/test/java/pet/PetControllerTest.java
Labels: Team B

#45 [SQTA-13][TEAM A]As a User, I want to check if 'find owner' method finds the right owner
  Team-A/pom.xml
  Team-A/src/main/java/org/springframework/samples/petclinic/owner/Owner.java
  Team-A/src/main/java/org/springframework/samples/petclinic/owner/Pet.java
  Team-A/src/main/resources/application.properties
  Team-A/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTest.java
Labels: Team A

#51 [SQTA-39][TEAM D] As a user, I can add a visit successfully (Nami).
  Team-D/src/test/java/org/springframework/samples/petclinic/visit/VisitTest.java
Labels: Team D

#57 [TEAM D][SQTA-8] As a developer, I want to verify that the "add a visit" functionality works
  Team-D/src/test/java/org/springframework/samples/petclinic/sqta8Test.java
Labels: Team D

#60 [TEAM D][SQTA-38] Added tests for editing pet details funcationality.
  Team-D/pom.xml
  Team-D/src/test/java/org/springframework/samples/petclinic/owner/OwnerSeleniumTests.java
  Team-D/src/test/java/org/springframework/samples/petclinic/owner/OwnerTest.java
  Team-D/src/test/java/org/springframework/samples/petclinic/pet/EditPetDetailsSeleniumTests.java
Labels: Team D

#58 [TEAM B] [SQTA-51] A fixed bugs in Edit Owner Test and fully functioning add Pet test
  Team-B/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTest.java
  Team-B/src/test/java/org/springframework/samples/petclinic/pet/PetControllerTest.java
  bash.exe.stackdump
Labels: Team B

#34 [SQTA-29] [TEAM C] As a user, I want to be able to see a list of all owners by clicking search without entering a last name
  Team-C/pom.xml
  Team-C/src/test/java/SQTA_29_TEST.java
Labels: Team C

#62 [STQA-41] [TEAM C]Added a test to see if the user can navigate to the veterinarians page
  Team-C/src/test/java/org/springframework/samples/petclinic/owner/STQA_41_testVeterinarians.java
Labels: Team C

#65 [Team-c]SQTA-47, as a user, i can add a vet
  Team-C/src/test/java/org/springframework/samples/petclinic/owner/SQTA_47_addVet.java
Labels: Team C

#66 [TEAM D][SQTA-55] As a user, I can see if an owner exists
  Team-D/src/main/resources/application.properties
  Team-D/src/test/java/org/springframework/samples/petclinic/owner/VerifyOwnerExistsTest.java
  Team-D/src/test/java/org/springframework/samples/petclinic/visit/VisitTest.java
Labels: Team D

#69 Feat/sqta 52
  Team-B/src/test/java/org/springframework/samples/petclinic/owner/OwnerControllerTest.java
Labels: Team B
